:root {
    --color-primary: #182032;
    --hover-primary: #0d2873;
    --color-secondary: #334661;
    --succes-color: #11cb8d;
    --error-color: #f43838;
    --alert-color: #f4a214;

    --bg-color: #fef0f0;
    --bg-alter-color: #d1d1d1;
    --card-color: #dcdcdc;
    --text-color: #1d222c;
    --text-muted: #37435f;
    --border-color: #cddef5;
    --shadow: 0 4px 12px rgba(30, 30, 30, 0.2);
    --shadow-lg: 0 10px 20px rgba(30, 30, 30, 0.4);
}
[data-theme='dark'] {
    --bg-color: #0f172a;
    --bg-alter-color: #1e293b;
    --card-color: #334155;
    --text-color: #f1f5f9;
    --text-muted: #94a3b8;
    --border-color: #475569;
    --shadow: 0 4px 12px rgba(155, 155, 155, 0.2);
    --shadow-lg: 0 10px 20px rgba(155, 155, 155, 0.4);
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.3;
    transition: background-color 0.4s ease, color 0.4s ease-in;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
main {
    flex: 1;
    padding: 1rem;
}

header {
    background-color: var(--card-color);
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.logo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.logo-header-img {
    width: 60px;
}

.switch {   
    display: inline-block;
    position: relative;
}

.switch input {
    display: none;
}

.turn-on-off {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--bg-alter-color, #ccc);
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.4s;
    overflow: hidden;
}

.icon {
    position: absolute;    
    line-height: 30px;
    text-align: center;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    transition: transform 0.4s ease;
}

input:checked + .turn-on-off .icon {
  transform: translateX(30px) rotateX(180deg);
}

footer{
    display: flex;
    background-color: var(--card-color);
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info p {
    margin: 0;
}